<h2>Graph View</h2>
<div class="left">
    <graph [hidden]="inDetail">
        <button [hidden]="!extended" (click)="reset()" id="back" > Back </button>
    </graph>
    <div [hidden]="!inDetail" class="detail">
        <button (click)="back()">Back</button>
        <h3 *ngIf="inDetail" >{{name}} Detail</h3>
        <img src="{{imgSrc}}" alt="cluster layout "/>
        <h3>Summary</h3>
        <table>
            <tr *ngFor="#info of detailInfo; #i = index" [ngStyle]="{'background-color':bgColor(i) }">
                <td class="key">{{info.key}}</td><td>{{info.value}}</td>
            </tr>
        </table>
        <h3>Summary of RepeatMasker hits</h3>
        <table>
            <thead>
                <tr>
                    <td>Class.Family</td><td>hits</td><td>hits[%]</td>
                </tr>
            </thead> 
            <tbody>   
                <tr *ngFor="#rm of repeatMasker; #i = index" [ngStyle]="{'background-color':bgColor(i) }">
                    <td>{{rm.key}}</td><td>{{rm.value}}</td><td>{{rm.percentage | number:'.1' }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="sortedDomains != undefined">
            <h3>Total number of similarity hits for each lineage</h3>
            <table class="lineage">
                <thead>
                    <tr><td>Lineage</td><td><span class="domain-name">Domain</span>Hits</td></tr>
                </thead>
                <tr *ngFor="#lineage of domainsByLineage">
                    <td width="20%">{{lineage[0].Lineage}}</td>
                    <td width="80%">
                        <ul>
                            <li *ngFor="#entry of lineage"><span class="domain-name">{{entry.Domain}}</span><span>{{entry.Hits}}</span><span class="bar" [ngStyle]="{'width': barWidth(entry.Hits) }"></span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="domains != undefined">
            <h3>Summary of TE domain hits from blastx</h3>
            <table>
                <thead>
                    <tr>
                        <td>Domain</td>
                        <td>ID</td>
                        <td>Type</td>
                        <td>Lineage</td>
                        <td>Hits</td>
                        <td>MeanScore</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#domain of domains;  #i = index" [ngStyle]="{'background-color':bgColor(i) }">
                        <td>{{domain.Domain}}</td>
                        <td>{{domain.ID}}</td>
                        <td>{{domain.Type}}</td>
                        <td>{{domain.Lineage}}</td>
                        <td>{{domain.Hits}}</td>
                        <td>{{domain.MeanScore}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="right clusters" *ngIf="extended">
<h3>Clusters details</h3>
<table>
    <tr>
        <td>Name (number of reads)</td>
    </tr>
    <tr *ngFor="#node of superCluster.clusters;">
        <td *ngIf="allRMData[node.clIndex-1]"><button (click)="detail(node.name)"><b>{{node.name}}</b> ({{ allRMData[node.clIndex-1].size}})</button></td>
    </tr>
</table>
</div>
<div class="right">  
    <h3>SuperClusters</h3>
    <table class="groups">
        <thead>
            <tr>
                <td></td><td>Size</td><td>Classification</td><td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#group of groups; #i = index">
            <td><button (click)="focus(i)" [ngStyle]="{'background-color': color(i) }"><b>SuperCluster{{i+1}}</b></button></td>
            <td>{{group.clusters.length}}</td> 
            <td *ngIf="group.classification">{{group.classification}}</td>
            <td *ngIf="group.validation !== null"> <b [hidden]="group.validation.valid">{{group.validation.reason}}</b><b [hidden]="!group.validation.valid">valid</b> </td>
            </tr>
        </tbody>
    </table>
</div>