@import url("font-awesome.css");

* {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

h1 {
  margin-top: 2px;
  margin-bottom: 8px;
}

h3 {
  margin-top: 2px;
  margin-bottom: 7px;
}

ul {
  margin-top: 0;
  padding-left: 0;
}
ul li {
  list-style-type: none;
}

hr {
  border-width: 0;
  height: 1px;
  background-color: #CCC;
}

button {
  font-size: 14px;
  height: 37px;
  line-height: 35px;
  padding: 0 16px;
  background-color: rgb(218,231,242);
  text-align: center;
  border: 1px solid rgb(92,137,193);
  border-radius: 999em;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
}

button:hover {
  background-color: rgb(180, 200, 242);
  cursor: pointer;
}

a {
  color: rgb(92,137,193);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Graph*/

g.node {
  font-size: 1em;
}

g.enableLabel text.label {
  display: block;
}

g.disableLabel text.label {
  display: none;
}

g.disableLabel g.anchorNode text {
  display: none;
}

#back {
  position: absolute;
}

graph {
  position: relative;
  width: 780px;
  height: 680px;
}

text {
  stroke: #333;
  font-weight: lighter;
}

.d3-tip {
    background-color: white;
    border: 1px #CCC solid;
    border-radius: 2px;
    line-height: 1;
    padding: 3px;
    color: black;
    font-weight: 900;
}


.node {
  stroke: #fff;
  stroke-width: 1.5px;
}


.link {
  stroke: #999;
  stroke-opacity: .6;
}

.left {
  float: left;
}

.right {
  margin-top: -60px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.detail {
  width: 780px;
  margin-bottom: 60px;
}

.clusters {
  margin-bottom: 60px;
}


tr {
  padding: 2px; 
}

td {
   padding-left: 10px;
}

td button {
  min-width: 60px;
}

thead {
  font-weight: bold;
}

tr.dark {
  background-color: #EEE;
}

svg {
  border: 1px solid #CCC;
  width: 780px;
  height: 680px;
  margin-bottom: 60px;
}

.key {
  text-transform: capitalize;
  font-weight: bold;
  width: 450px;
}

.detail table {
  width: 780px;
  margin-bottom: 20px;
}


.detail h3 {
  background-color:rgb(218,231,242);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: large;
  margin-bottom: 0;
  text-decoration: none;
}

.lineage span.domain-name {
  display: inline-block;
  width: 100px;
}

.lineage {
  border-collapse:collapse;
}

.lineage span {
  display: inline-block;
  width: 60px;
}

.lineage tr td {
  border-bottom: 1px solid #AAA;
}

.lineage li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.lineage .bar {
  display: inline-block;
  background-color: lightpink;
  height: 15px;
}

.select-path {
  border-right: 1px solid #CCC;
  line-height: 60px;
  text-align: center;
  width: 200px;
  height: 60px;
  float: left;
  margin-right: 15px;
}

.history {
  float: left;
}

.path {
  height: 20px;
  line-height: 20px;
  width: 500px;
  margin-right: 15px;
}

.loading {
  background-color: black;
  color: #DDD;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  font-size: large;
  padding-top: 30%;
}